<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a data-locale="expense" data-nav="expense"
               class="nav-link text-primary" href="expense-list.html"></a>
        </li>
        <li class="nav-item">
            <a data-locale="expense_category" data-nav="expense_category"
               class="nav-link text-primary" href="expense-category.html"></a>
        </li>
        <li class="nav-item">
            <a data-locale="project" data-nav="project"
               class="nav-link text-primary" href="project.html"></a>
        </li>
        <li class="nav-item">
            <a data-locale="currency" data-nav="currency"
               class="nav-link text-primary" href="currency.html"></a>
        </li>
        <li class="nav-item">
            <a data-locale="apps_user" data-nav="apps_user"
               class="nav-link text-primary" href="user-list.html"></a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <label id="menuUserDetails" class="text-bold text-primary mr-2 my-2 my-sm-0"></label>
        <button id="menuSignOut" data-locale="signOut" class="btn btn-outline-success my-2 my-sm-0" type="button">
        </button>
    </form>
</div>
<script>
    function performSignOut(url) {
        let args = SessionDB.get("aduetthaecnittinceahtteuda");
        try {
            args = JSON.parse(args);
            if (args["authenticated"] === false) {
                window.location.href = "signin1.html";
            }
        } catch (e) {
            window.location.href = "signin1.html";
        }
        $("#menuSignOut").click(function (evt) {
            evt.preventDefault();
            SessionDB.set("aduetthaecnittinceahtteuda", {});
            $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                data: "{}",
                error: function () {
                    window.location.href = "signin1.html";
                },
                success: function () {
                    window.location.href = "signin1.html";
                }
            });
        });
    }

    function showView(viewId) {
        if ($.type(viewId) === "string") {
            if ("expense" === viewId) {
                window.location.href = "expense-list.html";
            } else if ("expense_category" === viewId) {
                window.location.href = "expense-category.html";
            } else if ("project" === viewId) {
                window.location.href = "project.html";
            } else if ("currency" === viewId) {
                window.location.href = "currency.html";
            } else if ("apps_user" === viewId) {
                window.location.href = "user-list.html";
            }
        }
    }
</script>
