<div class="container">
    <div id="form-div" class="row">
        <div class="mx-auto manage-max">
            <div class="card">
                <div class="card-header">
                    <span id="actionBack">
                        <i class="fas fa-arrow-left icon-blue"></i>
                    </span>
                    <span data-locale="currency" class="ml-3"></span>
                    <span class="float-right" id="actionClose">
                        <i class="fas fa-times icon-blue"></i>
                    </span>
                </div>
                <div class="card-body">
                    <form data-id="currency" data-type="form" class="form" method="post" role="form">
                        <input type="hidden" data-id="currency.id" data-type="hidden">
                        <input type="hidden" data-id="currency.rev" data-type="hidden">
                        <div class="form-group">
                            <label class="form-control-label" data-locale="currency.name"></label>
                            <input class="form-control" data-id="currency.name" data-type="text">
                        </div>
                        <div class="form-group">
                            <label data-locale="currency.code" class="form-control-label"></label>
                            <input data-id="currency.code" data-type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label data-locale="currency.symbol" class="form-control-label"></label>
                            <input data-id="currency.symbol" data-type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label data-locale="currency.precision" class="form-control-label"></label>
                            <input data-id="currency.precision" type="number" data-type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <button id="actionSave" type="button" class="btn btn-outline-primary"
                                    data-locale="actionSave"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="list-div">
        <div class="row">
            <div class="d-inline">
                <ul class="pagination">
                    <li class="page-item">
                        <button id="actionCreate" data-locale="actionCreate" class="page-link text-primary"></button>
                    </li>
                </ul>
            </div>
            <div class="d-inline">
                <ul class="pagination ml-2">
                    <li class="page-item"><input id="searchText" class="page-link" placeholder="actionSearch"></li>
                    <li class="page-item">
                        <button id="actionSearch" class="page-link" type="button">
                            <i class="fas fa-search icon-blue"></i></button>
                    </li>
                </ul>
            </div>
            <div class="d-inline">
                <ul class="pagination ml-2">
                    <li class="page-item">
                        <button class="page-link" id="actionPrevious">«</button>
                    </li>
                    <li class="page-item"><label class="page-link" id="pagingInfo">-</label></li>
                    <li class="page-item">
                        <button class="page-link" id="actionNext">»</button>
                    </li>
                </ul>
            </div>
            <div class="d-inline">
                <ul class="pagination ml-2">
                    <li class="page-item">
                        <button id="actionDelete" data-locale="actionDelete" class="page-link text-danger"></button>
                    </li>
                </ul>
            </div>
            <div class="d-inline">
                <ul class="pagination ml-2">
                    <li class="page-item">
                        <form id="exportForm" action="api/currency/export/csv" target="_blank" method="GET">
                            <button id="actionExport" data-locale="actionExport" class="page-link text-secondary">
                            </button>
                        </form>
                    </li>
                    <li class="page-item">
                        <button id="actionImport" data-locale="actionImport" class="page-link text-secondary">
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <table class="table table-bordered">
                <thead data-id="currencyList">
                <tr>
                    <th data-type="selectable" width="40px"></th>
                    <th data-type="link" data-id="currencyList.code" data-locale="currency.code"></th>
                    <th data-type="text" data-id="currencyList.name" data-locale="currency.name"></th>
                    <th data-type="text" data-id="currencyList.symbol" data-locale="currency.symbol"></th>
                    <th data-type="text" data-id="currencyList.precision" data-locale="currency.precision"></th>
                </tr>
                </thead>
                <tbody data-id="currencyList">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function CurrencyView() {
        let self = this;
        self.getId = function () {
            return "currency";
        };
        self.formDiv = $("#form-div");
        self.listDiv = $("#list-div");
        self.model = {name: "currency"};
        self.paging = new Paging("currency");
        self.paging.build($("#actionPrevious"), $("#actionNext"), $("#pagingInfo"));
        self.dataGrid = new DataTable({name: "currencyList"});
        self.dataGrid.onChange(function (eventId, name, data) {
            if ("click" === eventId) {
                self.showFormView();
                self.form.setValue(data);
            }
        });
        self.showListView = function () {
            $("#form-div").hide();
            $("#list-div").show();
        };
        self.showFormView = function () {
            $("#list-div").hide();
            $("#form-div").show();
        };
        self.search = function (req) {
            req.name = self.model.name;
            req.searchText = $("#searchText").val().trim();
            $.ajax({
                type: "POST",
                contentType : "application/json",
                dataType: "json",
                url: "api/currency/search",
                data: JSON.stringify(req),
                error: function (err) {
                    MessageDialog.show(err.responseText);
                },
                success: function (data) {
                    const name = self.model.name;
                    self.dataGrid.setData(data[name]);
                    self.paging.set(data);
                }
            });
        };
        self.onSave = function (data) {
            $.ajax({
                type: "PUT",
                contentType : "application/json",
                dataType: "json",
                url: "api/currency/save",
                data: JSON.stringify(data),
                error: function (err) {
                    MessageDialog.show(err.responseText);
                    if(200 === err.status){
                        self.showListView();
                        self.search(self.paging.get());
                    }
                },
                success: function () {
                }
            });
        };
        self.onDelete = function (data) {
            $.ajax({
                type: "DELETE",
                contentType : "application/json",
                dataType: "json",
                url: "api/currency/delete",
                data: JSON.stringify(data),
                error: function (msg) {
                    MessageDialog.show(msg.responseText);
                    if(200 === msg.status) {
                        self.search(self.paging.get());
                    }
                },
                success: function () {
                }
            });
        };
        self.form = new FormBinder(self.model);
        self.paging.onPrevious(function (req) {
            self.search(req);
        });
        self.paging.onNext(function (req) {
            self.search(req);
        });
        $("#actionCreate").on("click", function () {
            self.showFormView();
            self.form.setValue();
        });
        $("#actionSearch").on("click", function (evt) {
            evt.preventDefault();
            self.showListView();
            self.search(self.paging.get());
        });
        $("#actionClose").on("click", function (evt) {
            evt.preventDefault();
            self.showListView();
        });
        $("#actionBack").on("click", function (evt) {
            evt.preventDefault();
            self.showListView();
        });
        $("#actionSave").on("click", function (evt) {
            evt.preventDefault();
            self.onSave([self.form.getValue()]);
        });
        $("#actionDelete").on("click", function (evt) {
            evt.preventDefault();
            let array = self.dataGrid.getSelected();
            if (0 < array.length) {
                UndoDialog.showLocale("actionDelete", function () {
                    self.onDelete(array);
                });
            }
        });
        $("#actionImport").on("click", function (evt) {
            evt.preventDefault();
            let model = {
                base: false,
                name: "currency",
                title: SessionDB.getLocale("currency.import.view"),
                view: "view/currency.html",
                url: "api/currency/import/csv",
                columns: [
                    {name: "code", locale: "currency.code", required: true},
                    {name: "name", locale: "currency.name", required: true},
                    {name: "symbol", locale: "currency.symbol", required: true},
                    {name: "precision", type: "int", locale: "currency.precision"}
                ]
            };
            SessionDB.set("csv-import-model", model);
            PageManager.show("view/csv-import-view.html");
        });
        self.searchDelay = new CallFuture(1200);
        $("#searchText").keyup(function (evt) {
            if (13 === evt.keyCode) {
                self.search(self.paging.get(true));
            } else {
                self.searchDelay.call(function () {
                    self.search(self.paging.get(true));
                });
            }
        });
        self.start = function () {
            $(".manage-max").css("max-width", "600px");
            self.form.setValue();
            self.formDiv.hide();
            self.search(self.paging.get());
        };
    }

    if (typeof PageManager === "undefined") {
        window.location.href = "../index.html";
    } else {
        PageManager.init(new CurrencyView());
    }

</script>
