<div class="container pt-3">
    <div class="row justify-content-sm-center">
        <div class="col-lg-6 col-lg-4">
            <div class="card text-center">
                <div class="card-header">
                    <label id="form-title" class="float-left text-bold text-secondary"></label>
                </div>
                <div class="card-body">
                    <img src="../img/logo.png">
                    <div class="form-group  text-left">
                        <div class="form-group">
                            <label data-locale="password"></label>
                            <input type="password" id="fhniguasrty47hdj" class="form-control">
                        </div>
                        <div class="form-group">
                            <label data-locale="confirmPassword"></label>
                            <input type="password" id="fireausfdhjkajsd" class="form-control">
                        </div>
                        <div class="form-group">
                            <button id="actionSignin" data-locale="signIn" class="btn btn-link"></button>
                            <button id="actionSignup" data-locale="complete"
                                    class="float-right btn btn-primary"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function SignUpView2() {
        let self = this, user = SessionDB.get("new_user_account");
        self.getId = function () {
            return "signup1";
        };
        self.start = function () {
            if (typeof user === "object") {
                $("#form-title").text(user["name"]);
                $("#fhniguasrty47hdj").focus();
            } else {
                PageManager.show("view/signup1.html");
            }
        };
        self.onComplete = function () {
            let i1 = $("#fireausfdhjkajsd").val(), i2 = $("#fhniguasrty47hdj").val();
            if(1 > i1.trim().length || i1.trim() !== i2.trim()) {
                MessageDialog.locale("passwordNotMatched");
                return;
            }
            i2 = DataUtil.encode(i2.trim());
            $.ajax({
                type: "POST",
                contentType : "application/json",
                dataType: "json",
                url: "api/user/create2",
                data: JSON.stringify({code: user["code"], value: i2}),
                error: function (err) {
                    if ("Previous" === err.responseText) {
                        PageManager.show("view/signup1.html");
                    } else {
                        MessageDialog.show(err.responseText);
                    }
                },
                success: function () {
                    SessionDB.remove("new_user_account");
                    PageManager.show("view/signin1.html");
                }
            });
        };
        $("#fhniguasrty47hdj").keyup(function (evt) {
            evt.preventDefault();
            if (evt.keyCode === 13) {
                $("#fireausfdhjkajsd").focus();
            }
        });
        $("#fireausfdhjkajsd").keyup(function (evt) {
            evt.preventDefault();
            if (evt.keyCode === 13) {
                self.onComplete();
            }
        });
        $("#actionSignup").on("click", function (evt) {
            evt.preventDefault();
            self.onComplete();
        });
        $("#actionSignin").on("click", function () {
            PageManager.show("view/signin1.html");
        });
    }
    if(typeof PageManager === "undefined") {
        window.location.href = "../index.html";
    } else {
        PageManager.init(new SignUpView2());
    }
</script>