body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

@media (max-width: 767px) {
    .navbar-brand {
        text-align: center;
    }
    .navbar-toggler {
        position: absolute;
        top: 10px;
    }
    .navbar-collapse {
        position: inherit;
    }
}

.navbar-brand {
    margin: 0 auto;
}
.navbar-collapse {
    position: absolute;
    top: 10px;
}

.btn-navbar {
    background-color: #FFF0F5;
    border:1px solid #e5d8dc;
}

.icon-blue {
    color: #7B68EE;
    font-size: 1em;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.border-bottom-only {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    outline: 0;
}

.bg-eefdf3 {
    background-color: #eefdf3;
}

.bg-e3f5bb {
    background-color: #e3f5bb;
}

.bg-abdcfb {
    background-color: #abdcfb;
}

.a-link {
    color: dodgerblue;
    text-decoration: underline;
    padding: 0 6px;
}

.text-bold {
    font-weight: bold;
}

.row-selected {
    background-color: #AAFEFF;
}

.cell-link {
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
}

#messageDialog, #undoDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.btn-upload {
    display: inline-block;
}
.btn-upload input[type=file] {
    display:none;
}

.borderless {
  border: 0;
}

.borderless-tb {
  border-top: 0;
  border-bottom: 0;
}

.borderless-lr {
  border-left: 0;
  border-right: 0;
}

.lookup-dialog {
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
    max-height: 400px;
    background-color: #ffffff;
    border:2px solid #9fcdff;
}
