<div class="container">
    <div class="row">
        <div class="inline-block">
            <button id="actionBack" class="btn btn-outline-secondary">
                <i class="fas fa-arrow-left"></i>
            </button>
            <span id="title" class="ml-2 font-weight-bold text-success"></span>
        </div>
        <div class="inline-block btn-upload ml-2">
            <label>
                <input id="chooseFile" type="file">
                <span class="btn btn-outline-primary" data-locale="chooseCsvFile"></span>
            </label>
        </div>
        <span class="inline-block btn borderless  text-secondary ml-2" id="localeFileName"></span>
    </div>
    <div class="row">
        <div class="d-inline">
            <ul class="pagination">
                <li class="page-item"><input id="searchText" class="page-link" placeholder="actionSearch"></li>
                <li class="page-item">
                    <button id="actionSearch" class="page-link" type="button">
                        <i class="fas fa-search icon-blue"></i></button>
                </li>
            </ul>
        </div>
        <div class="d-inline">
            <ul class="pagination ml-2">
                <li class="page-item">
                    <button class="page-link" id="actionPrevious">«</button>
                </li>
                <li class="page-item"><label class="page-link" id="pagingInfo">-</label></li>
                <li class="page-item">
                    <button class="page-link" id="actionNext">»</button>
                </li>
            </ul>
        </div>
        <div class="d-inline">
            <ul class="pagination ml-2">
                <li class="page-item">
                    <button id="actionDelete" data-locale="actionDelete" class="page-link text-danger"></button>
                </li>
            </ul>
        </div>
        <div class="d-inline">
            <ul class="pagination ml-2">
                <li class="page-item">
                    <button id="actionValidate" data-locale="actionValidate" class="page-link text-secondary"></button>
                </li>
                <li class="page-item">
                    <button id="actionSave" data-locale="actionSave" class="page-link"></button>
                </li>
            </ul>
        </div>
    </div>
    <div id="csvTableDiv" class="row"></div>
</div>
<script>
    function CsvImportView() {
        let self = this;
        self.getId = function () {
            return "csv-import-view";
        };
        self.csvTable = new CsvTable();
        self.records = [];
        self.csvHeader = [];
        self.statusMap = new Map();
        self.paging = new Paging();
        self.paging.build($("#actionPrevious"), $("#actionNext"), $("#pagingInfo"));
        $("#chooseFile").change(function (evt) {
            let info, idx, files = evt.currentTarget.files, shortName = $("#chooseFile").val();
            idx = shortName.lastIndexOf("\\");
            $("#localeFileName").text(shortName.substring(idx + 1));
            if (0 < files.length) {
                Papa.parse(files[0], {
                    complete: function (results) {
                        if (1 < results.data.length) {
                            self.csvHeader = results.data[0];
                            self.records = results.data.slice(1, results.data.length - 1);
                        } else {
                            self.records = [];
                            self.csvHeader = [];
                        }
                        $("#searchText").val("");
                        self.statusMap = new Map();
                        self.csvTable.setCsv(self.csvHeader, self.records, 0);
                        info = self.paging.get();
                        info.length = self.csvTable.length();
                        info.totalRecords = self.records.length;
                        self.paging.set(info);
                    }
                });
            }
        });
        self.paging.onPrevious(function (obj) {
            if (obj.start < self.records.length) {
                let status, filtered = self.records.slice(obj.start, obj.start + obj.limit);
                self.csvTable.setCsv(self.csvHeader, filtered, obj.limit);
                obj.length = filtered.length;
                obj.totalRecords = self.records.length;
                self.paging.set(obj);
                self.setFlag(obj.start, obj.limit);
            }
        });
        self.paging.onNext(function (pgn) {
            if (pgn.start < self.records.length) {
                let filtered = self.records.slice(pgn.start, pgn.start + pgn.limit);
                self.csvTable.setCsv(self.csvHeader, filtered, pgn.limit);
                pgn.length = filtered.length;
                pgn.totalRecords = self.records.length;
                self.paging.set(pgn);
                self.setFlag(pgn.start, pgn.limit);
            }
        });
        self.onDelete = function () {
            let pgn, filtered, indexes = self.csvTable.removeSelected();
            filtered = self.records.filter(function (value, index) {
                return 0 > indexes.indexOf(index);
            });
            self.records = filtered;
            pgn = self.paging.get();
            pgn.length = self.csvTable.length();
            pgn.totalRecords = self.records.length;
            self.paging.set(pgn);
        };
        $("#actionClose").on("click", function (evt) {
            evt.preventDefault();
            let model = SessionDB.get("csv-import-model");
            if (typeof model === "object") {
                PageManager.show(model.view);
            } else {
                PageManager.showPrevious();
            }
        });
        $("#actionBack").on("click", function (evt) {
            evt.preventDefault();
            PageManager.showPrevious();
        });
        self.setFlag = function (start, limit, status) {
            let id = start + "-" + limit;
            if (typeof status !== "boolean") {
                status = self.statusMap.get(id);
            }
            if (typeof status !== "boolean") {
                status = false;
            }
            self.statusMap.set(id, status);
            self.csvTable.setFlag(status ? "warning" : "");
        };
        self.onSave = function (url, data) {
            let saveBtn = $("#actionSave");
            saveBtn.prop('disabled', true);
            $.ajax({
                type: "PUT",
                dataType: "text/csv",
                url: url,
                data: data,
                error: function (msg) {
                    MessageDialog.show(msg.responseText);
                    if(200 === msg.status){
                        let obj = self.paging.get();
                        self.setFlag(obj.start, obj.limit, 200 === msg.status);
                    }
                },
                complete: function () {
                    saveBtn.prop('disabled', false);
                }
            });
        };
        self.search = function () {
            if (0 === self.records.length) {
                self.csvTable.clear();
                self.paging.clear();
                return;
            }
            let row, rowIdx, colIdx, info, filteredArray = [], searchText = $("#searchText").val().trim();
            info = self.paging.get();
            info.totalRecords = self.records.length;
            if (0 === searchText.length) {
                filteredArray = self.records.slice(info.start, info.limit);
                info.length = filteredArray.length;
            } else {
                filteredArray = [];
                for (rowIdx = 0; rowIdx < self.records.length; rowIdx++) {
                    row = self.records[rowIdx];
                    for (colIdx = 0; colIdx < row.length; colIdx++) {
                        if (colIdx < row.length && -1 < row[colIdx].indexOf(searchText)) {
                            filteredArray.push(row);
                        }
                    }
                }
                info.length = filteredArray.length;
            }
            self.csvTable.setCsv(self.csvHeader, filteredArray, info.limit);
            self.paging.set(info);
        };
        self.searchDelay = new CallFuture(600);
        $("#searchText").keyup(function (evt) {
            self.searchDelay.cancelAll();
            if (13 === evt.keyCode) {
                self.search();
            } else {
                self.searchDelay.call(function () {
                    self.search();
                });
            }
        });
        $("#actionSearch").on("click", function (evt) {
            evt.preventDefault();
            self.search();
        });
        $("#actionValidate").on("click", function (evt) {
            evt.preventDefault();
            self.csvTable.validate();
        });
        $("#actionSave").on("click", function (evt) {
            evt.preventDefault();
            if (self.csvTable.validate()) {
                let model = SessionDB.get("csv-import-model");
                if (typeof model === "object") {
                    let csv = Papa.unparse(self.csvTable.getCsv(true));
                    self.onSave(model.url, csv);
                }
            }
        });
        $("#actionDelete").on("click", function (evt) {
            evt.preventDefault();
            UndoDialog.showLocale("actionDelete", function () {
                self.onDelete();
            });
        });
        self.start = function () {
            $(".manage-max").css("max-width", "600px");
            let model = SessionDB.get("csv-import-model");
            if (typeof model === "object") {
                $("#title").text(model.title);
                model.base = $("#csvTableDiv");
                self.csvTable.build(model);
            }
        };
    }

    if (typeof PageManager === "undefined") {
        window.location.href = "../index.html";
    } else {
        PageManager.init(new CsvImportView());
    }

</script>