<div class="container">
    <div class="row">
        <div class="d-inline">
            <ul class="pagination">
                <li class="page-item">
                    <button id="actionCreate" data-locale="actionCreate" class="page-link text-primary"></button>
                </li>
            </ul>
        </div>
        <div class="d-inline">
            <ul class="pagination ml-2">
                <li class="page-item"><input id="searchText" class="page-link" placeholder="actionSearch"></li>
                <li class="page-item">
                    <button id="actionSearch" class="page-link" type="button">
                        <i class="fas fa-search icon-blue"></i></button>
                </li>
            </ul>
        </div>
        <div class="d-inline">
            <ul class="pagination ml-2">
                <li class="page-item">
                    <button class="page-link" id="actionPrevious">«</button>
                </li>
                <li class="page-item"><label class="page-link" id="pagingInfo">-</label></li>
                <li class="page-item">
                    <button class="page-link" id="actionNext">»</button>
                </li>
            </ul>
        </div>
        <div class="d-inline">
            <ul class="pagination ml-2">
                <li class="page-item">
                    <button id="actionDelete" data-locale="actionDelete" class="page-link text-danger"></button>
                </li>
            </ul>
        </div>
        <div class="d-inline">
            <ul class="pagination ml-2">
                <li class="page-item">
                    <form id="exportForm" action="api/expense/export/csv" target="_blank" method="POST">
                        <button id="actionExport" data-locale="actionExport" class="page-link text-secondary">
                        </button>
                    </form>
                </li>
                <li class="page-item">
                    <button id="actionImport" data-locale="actionImport" class="page-link text-secondary">
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <table class="table table-bordered">
            <thead data-id="expenseList">
            <tr>
                <th data-type="selectable" width="50px"></th>
                <th data-type="text" data-id="expenseList.expense_date" data-locale="expense.expense_date"
                    width="140px"></th>
                <th data-type="link" data-id="expenseList.code" data-locale="expense.code" width="140px"></th>
                <th data-type="text" data-id="expenseList.description" data-locale="expense.description"></th>
                <th data-type="reference" data-columns="code name" data-id="expenseList.expense_category"
                    data-locale="expense.expense_category"></th>
                <th data-type="reference" data-columns="code" data-id="expenseList.currency"
                    data-locale="expense.currency" width="100px"></th>
                <th data-type="double" data-id="expenseList.amount" data-locale="expense.amount" width="100px"></th>
            </tr>
            </thead>
            <tbody data-id="expenseList">
            </tbody>
        </table>
    </div>
</div>
<script>
    function ExpenseListView() {
        let self = this;
        self.getId = function () {
            return "expense-list";
        };
        self.model = {name: "expense"};
        self.paging = new Paging("expense");
        self.paging.build($("#actionPrevious"), $("#actionNext"), $("#pagingInfo"));
        self.dataGrid = new DataTable({name: "expenseList"});
        self.dataGrid.onChange(function (eventId, name, data) {
            if ("click" === eventId) {
                SessionDB.set("expense", data);
                PageManager.show("view/expense-form.html");
            }
        });
        self.search = function (req) {
            req.name = self.model.name;
            req.searchText = $("#searchText").val().trim();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "api/expense/search",
                data: JSON.stringify(req),
                error: function (err) {
                    MessageDialog.show(err.responseText);
                },
                success: function (data) {
                    const model = self.model.name;
                    self.dataGrid.setData(data[model]);
                    self.paging.set(data);
                }
            });
        };
        self.onDelete = function (data) {
            $.ajax({
                type: "DELETE",
                dataType: "json",
                url: "api/expense/delete",
                data: JSON.stringify(data),
                error: function (msg) {
                    MessageDialog.show(msg.responseText);
                    if(200 === msg.status) {
                        self.search(self.getSearchRequest(self.paging.start));
                    }
                }
            });
        };
        self.paging.onPrevious(function (req) {
            self.search(req);
        });
        self.paging.onNext(function (req) {
            self.search(req);
        });
        $("#actionSearch").on("click", function (evt) {
            evt.preventDefault();
            self.search(self.paging.get());
        });
        $("#actionCreate").on("click", function (evt) {
            evt.preventDefault();
            SessionDB.set("expense", {expense_date: DataUtil.now()});
            PageManager.show("view/expense-form.html");
        });
        $("#actionDelete").on("click", function () {
            const array = self.dataGrid.getSelected();
            if (array.length) {
                UndoDialog.showLocale("actionDelete", function () {
                    self.onDelete(array);
                });
            }
        });
        $("#actionImport").on("click", function (evt) {
            evt.preventDefault();
            let model = {
                base: false,
                name: "expense",
                title: SessionDB.getLocale("expense.import.view"),
                view: "view/expense-list.html",
                url: "api/expense/import/csv",
                columns: [
                    {name: "expense_date", locale: "expense.expense_date", required: true},
                    {name: "code", locale: "expense.code", required: true},
                    {name: "description", locale: "expense.description", required: true},
                    {name: "category.code", locale: "expense.expense_category"},
                    {name: "currency.code", locale: "expense.currency"},
                    {name: "amount", type: "double", locale: "expense.amount"}
                ]
            };
            SessionDB.set("csv-import-model", model);
            PageManager.show("view/csv-import-view.html");
        });
        self.searchDelay = new CallFuture(1200);
        $("#searchText").keyup(function (evt) {
            self.searchDelay.cancelAll();
            if (13 === evt.keyCode) {
                self.search(self.paging.get(true));
            } else {
                self.searchDelay.call(function () {
                    self.search(self.paging.get(true));
                });
            }
        });
        self.start = function () {
            self.search(self.paging.get());
        };
    }
    if (typeof PageManager === "undefined") {
        window.location.href = "../index.html";
    } else {
        PageManager.init(new ExpenseListView());
    }
</script>