<div class="container">
    <div id="user-list">
        <div class="row">
            <div class="d-inline">
                <button id="actionCreate" data-locale="actionCreate" class="btn btn-primary"></button>
            </div>
            <div class="form-inline ml-2">
                <input id="searchText" placeholder="Search" class="form-control mr-sm-2" type="text"
                       aria-label="Search">
                <div class="btn-group" role="group">
                    <button id="actionSearch" class="btn btn-outline-primary" type="button">
                        <i class="fas fa-search icon-blue"></i>
                    </button>
                    <button id="actionPrevious" class="btn btn-outline-secondary" type="button">
                        <i class="fas fa-chevron-left icon-blue"></i>
                    </button>
                    <button id="actionNext" class="btn btn-outline-secondary" type="button">
                        <i class="fas  fa-chevron-right icon-blue"></i>
                    </button>
                </div>
                <label id="pagingInfo" class="btn ml-2">-</label>
                <div class="btn-group" role="group">
                    <button id="actionDelete" data-locale="actionDelete" class="btn btn-outline-danger"></button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <table class="table table-bordered">
                <thead data-id="expenseList">
                <tr>
                    <th data-type="selectable" width="50px"></th>
                    <th data-type="text" data-id="expenseList.expense_date" data-locale="expense.expense_date" width="140px"></th>
                    <th data-type="link" data-id="expenseList.code" data-locale="expense.code" width="140px"></th>
                    <th data-type="text" data-id="expenseList.description" data-locale="expense.description"></th>
                    <th data-type="reference" data-columns="code name" data-id="expenseList.expense_category" data-locale="expense.expense_category"></th>
                    <th data-type="reference" data-columns="code" data-id="expenseList.currency" data-locale="expense.currency" width="100px"></th>
                    <th data-type="double" data-id="expenseList.amount" data-locale="expense.amount" width="100px"></th>
                </tr>
                </thead>
                <tbody data-id="expenseList">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function ExpenseListView() {
        let self = this;
        self.getId = function () {
            return "expense-list";
        };
        self.model = {name: "expense"};
        self.paging = {limit: 10, start: 0, totalRecords: 0, isPrevious: false, isNext: false, sortList: []};
        self.paging.previous = $("#actionPrevious");
        self.paging.info = $("#pagingInfo");
        self.paging.next = $("#actionNext");
        self.dataGrid = new DataTable({name: "expenseList"});
        self.dataGrid.onChange(function (eventId, name, data) {
            if ("click" === eventId) {
                SessionDB.set("expense", data);
                PageManager.show("view/expense-form.html");
            }
        });
        self.setPaging = function (obj) {
            let startIdx = obj.start + 1, endIdx = obj.start + obj.length, currentCount;
            self.paging.isPrevious = true;
            self.paging.isNext = true;
            if (0 === obj.length && 0 === obj.totalRecords) {
                self.paging.info.text(" - ");
            } else {
                self.paging.info.text(startIdx + " - " + endIdx + " of " + obj.totalRecords);
            }
            if (0 === obj.start) {
                self.paging.isPrevious = false;
            }
            currentCount = obj.start + obj.length;
            if (obj.totalRecords <= currentCount) {
                self.paging.isNext = false;
            }
        };
        self.search = function (req) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "api/expense/search",
                data: JSON.stringify(req),
                error: function (err) {
                    MessageDialog.show(err.responseText);
                },
                success: function (data) {
                    const model = self.model.name;
                    self.dataGrid.setData(data[model]);
                    self.setPaging(data);
                }
            });
        };
        self.getSearchRequest = function (start) {
            self.paging.start = 0 > start ? 0 : start;
            let req = {};
            req.name = self.model.name;
            req.start = start;
            req.limit = self.paging.limit;
            req.searchText = $("#searchText").val().trim();
            return req;
        };
        self.onDelete = function (data) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "api/expense/delete",
                data: JSON.stringify(data),
                error: function (err) {
                    MessageDialog.show(err.responseText);
                },
                success: function () {
                    self.search(self.getSearchRequest(self.paging.start));
                }
            });
        };
        self.paging.previous.on("click", function () {
            if (self.paging.isPrevious) {
                let req = self.getSearchRequest(self.paging.start - self.paging.limit);
                self.search(req);
            }
        });
        self.paging.next.on("click", function () {
            if (self.paging.isNext) {
                let req = self.getSearchRequest(self.paging.start + self.paging.limit);
                self.search(req);
            }
        });
        $("#actionSearch").on("click", function (evt) {
            evt.preventDefault();
            self.search(self.getSearchRequest(0));
        });
        $("#actionCreate").on("click", function (evt) {
            evt.preventDefault();
            SessionDB.set("expense", {expense_date:DataUtil.now()});
            PageManager.show("view/expense-form.html");
        });
        $("#actionDelete").on("click", function () {
            const array = self.dataGrid.getSelected();
            if (array.length) {
                UndoDialog.showLocale("actionDelete", function () {
                    self.onDelete(array);
                });
            }
        });
        self.searchDelay = new CallFuture(1200);
        $("#searchText").keyup(function (evt) {
            self.searchDelay.cancelAll();
            if (13 === evt.keyCode) {
                self.search(self.getSearchRequest(0));
            } else {
                self.searchDelay.call(function () {
                    self.search(self.getSearchRequest(0));
                });
            }
        });
        self.start = function () {
            self.search(self.getSearchRequest(0));
        };
    }
    if(typeof PageManager === "undefined") {
        window.location.href = "../index.html";
    } else {
        PageManager.init(new ExpenseListView());
    }
</script>