<div class="container manage-max">
    <div class="card">
        <div class="card-header">
                    <span id="actionBack">
                        <i class="fas fa-arrow-left icon-blue"></i>
                    </span>
            <span data-locale="expense" class="ml-3"></span>
            <span class="float-right" id="actionClose">
                        <i class="fas fa-times icon-blue"></i>
            </span>
        </div>
        <div class="card-body">
            <form data-id="expense" data-type="form" class="form" method="post" role="form">
                <input type="hidden" data-id="expense.id" data-type="hidden">
                <input type="hidden" data-id="expense.rev" data-type="hidden">
                <div class="form-group">
                    <label data-locale="expense.expense_date" class="form-control-label"></label>
                    <input type="date" data-id="expense.expense_date" data-type="date" class="form-control">
                </div>
                <div class="form-group">
                    <label data-locale="expense.code" class="form-control-label"></label>
                    <input type="text" data-id="expense.code" data-type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label data-locale="expense.description" class="form-control-label"></label>
                    <textarea data-id="expense.description" data-type="text" cols="4" class="form-control">
                                </textarea>
                </div>
                <div class="form-group">
                    <button id="expenseCategory" data-locale="expense.expense_category" class="btn btn-link pl-0"></button>
                    <div class="input-group">
                        <input class="form-control" data-id="expense.expense_category" data-type="reference">
                        <div class="input-group-append">
                            <button data-lookup="expense.expense_category"
                                    class="input-group bg-transparent border" type="button">
                                <i class="fas fa-angle-down" style="width: 24px"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="currency" data-locale="expense.currency" class="btn btn-link pl-0"></button>
                    <div class="input-group">
                        <input class="form-control " data-id="expense.currency" data-type="reference">
                        <div class="input-group-append">
                            <button data-lookup="expense.currency"
                                    class="input-group bg-transparent border" type="button">
                                <i class="fas fa-angle-down" style="width: 24px"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label data-locale="expense.amount" class="form-control-label"></label>
                    <input data-id="expense.amount" data-type="double" class="form-control">
                </div>
                <div class="form-group">
                    <button id="actionSave" data-locale="actionSave" class="btn btn-outline-primary"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function ExpenseFormView() {
        let self = this;
        self.getId = function () {
            return "expense-form";
        };
        self.model = {name: "expense"};
        self.model.expense_category = {name: "expense_category", url: "../api/expense_category/search"};
        self.model.expense_category.columns = [{name: "code", title: "Code"}, {name: "name", title: "Name"}];
        self.model.currency = {name: "currency", url: "../api/currency/search"};
        self.model.currency.columns = [{name: "code", title: "Code"}, {name: "name", title: "Name"}];
        self.form = new FormBinder(self.model);
        $("#actionBack").on("click", function (evt) {
            evt.preventDefault();
            PageManager.showPrevious();
        });
        $("#actionClose").on("click", function (evt) {
            evt.preventDefault();
            PageManager.show("view/expense-list.html");
        });
        $("#expenseCategory").on("click", function (evt) {
            evt.preventDefault();
            PageManager.show("view/expense-category.html");
        });
        $("#currency").on("click", function (evt) {
            evt.preventDefault();
            PageManager.show("view/currency.html");
        });
        self.onReload = function (data) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "api/expense/reload",
                data: JSON.stringify(data),
                error: function (err) {
                    MessageDialog.show(err.responseText);
                },
                success: function (expense) {
                    self.form.setValue(expense);
                    if(0 === expense.id) {
                        self.form.focus("description");
                    }
                }
            });
        };
        self.onSave = function (data) {
            $.ajax({
                type: "PUT",
                dataType: "json",
                url: "api/expense/save",
                data: JSON.stringify(data),
                error: function (msg) {
                    MessageDialog.show(msg.responseText);
                    if(200 === msg.status) {
                        PageManager.show("view/expense-list.html");
                    }
                },
                success: function () {
                }
            });
        };
        $("#actionSave").on("click", function (evt) {
            evt.preventDefault();
            self.onSave([self.form.getValue()]);
        });
        self.start = function () {
            self.form.setValue(SessionDB.get("expense"));
            $(".manage-max").css("max-width", "600px");
        };
    }
    if(typeof PageManager === "undefined") {
        window.location.href = "../index.html";
    } else {
        PageManager.init(new ExpenseFormView());
    }
</script>
