<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ramesh Annachi">
    <title data-locale="apps_user"></title>
    <link rel="icon" href="../favicon.ico">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <script src="../js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/data-table.js"></script>
    <script src="../js/fontawesome-icon-5.2.0.js"></script>
    <script src="../js/form-fields.js"></script>
    <script src="../js/core.js"></script>
    <script src="../js/index.js"></script>
</head>
<body>
<nav id="appsNavigation" class="navbar fixed-top navbar-expand-lg navbar-light bg-light no-gutters">
    <div class="col-sm">
        <div class="dropdown form-inline">
            <button class="btn btn-outline-light" type="button" data-toggle="dropdown">
                <i class="fas fa-bars icon-blue"></i></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" id="menuItemExpense" data-locale="expense-list.title"></button>
                <button class="dropdown-item" id="menuItemExpenseCategory" data-locale="expense-category.title"></button>
                <button class="dropdown-item" id="menuItemProject" data-locale="project.title"></button>
                <button class="dropdown-item" id="menuItemCurrency" data-locale="currency.title"></button>
                <button class="dropdown-item" id="menuItemUsers" data-locale="user-list.title"></button>
            </div>
            <label id="appsName" class="text-bold text-dark mr-2 my-2 my-sm-0"></label>
        </div>
    </div>
    <div class="col-sm">
        <h3 id="view-title" class="text-bold text-primary"></h3>
    </div>
    <div class="col-sm">
        <div class="form-inline my-2 my-lg-0 float-right">
            <label id="appsUser" class="text-bold text-success mr-2 my-2 my-sm-0"></label>
            <span class="ml-4"></span>
            <label id="appsUserId" class="text-bold text-info mr-2 my-2 my-sm-0"></label>
            <button id="appsSignOut" data-locale="signOut" class="btn btn-outline-success my-2 my-sm-0" type="button">
            </button>
        </div>
    </div>
</nav>



<div class="m-4" style="max-width: 400px">
    <div class="form-group">
        <button id="currency" data-locale="currency" class="btn btn-link pl-0"></button>
        <div class="input-group">
            <input id="currencyField" class="form-control " data-id="currency" data-type="reference">
            <div class="input-group-append">
                <button id="showCurrencyBtn" data-lookup="currency"
                        class="input-group bg-transparent border" type="button">
                    <i class="fas fa-angle-down" style="width: 24px"></i>
                </button>
            </div>
        </div>
    </div>
</div>



<script>
    function loadMyPage() {
        let lookup, model = {
            name: "currency",
            url: "currency.json",
            columns: [{name: "code", title: "Code"}, {name: "name", title: "Name"}],
            field: $("#currencyField"),
            lookupField: $("#showCurrencyBtn")
        };
        lookup = new LookupField(model, function (evt, type, name) {
            console.log(type + " \t " + name);
        });
    }

    $(document).ready(function () {
        loadMyPage();
    });
</script>

</body>
</html>
