<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ramesh Annachi">
    <title data-locale="apps_user"></title>
    <link rel="icon" href="../img/favicon.ico">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <script src="../js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/data-table.js"></script>
    <script src="../js/fontawesome-icon-5.2.0.js"></script>
    <script src="../js/form-fields.js"></script>
    <script src="../js/core.js"></script>
    <script src="../js/index.js"></script>
</head>
<body>

<div class="container">
    <form method="POST" enctype="multipart/form-data" action="fup.cgi">
        File to upload: <input type="file" name="upfile"><br/>
        Notes about the file: <input type="text" name="note"><br/>
        <br/>
        <input type="submit" value="Press"> to upload the file!
    </form>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
    </div>
    <div class="row">
        <div class="inline-block">
            <button id="actionBack" class="btn btn-outline-secondary">
                <i class="fas fa-arrow-left"></i>
            </button>
            <span id="title" class="ml-2 font-weight-bold text-success"></span>
        </div>
        <div class="inline-block btn-upload ml-2">
            <label>
                <input id="chooseFile" type="file">
                <span class="btn btn-outline-primary" data-locale="chooseCsvFile">Choose Image</span>
            </label>
        </div>
        <span class="inline-block btn borderless  text-secondary ml-2" id="localeFileName"></span>
    </div>
</div>

<script>
    function loadMyPage() {
        console.log(DataUtil.encode("Ramesh"));
        console.log(DataUtil.encode("japan"));
        console.log(DataUtil.encode("Japan"));
        console.log(DataUtil.encode("Ramesh"));
        console.log(DataUtil.encode("japan"));
        console.log(DataUtil.encode("HpopeHope#5gujs6y3"));
        console.log(DataUtil.encode("1Password!"));
        console.log(DataUtil.encode("Ramesh"));



    }

    function Test() {
        let key_256 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,
            16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
            29, 30, 31];
        console.log(key_256);
        let key_256_array = new Uint8Array(key_256);
        console.log(key_256_array);
        let key_256_buffer = DataUtil.encode(key_256);
        console.log(key_256_buffer);
    }

    $(document).ready(function () {
        new Test();
    });
</script>

</body>
</html>
