.lookupField {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #eeeeee;
    border: 2px solid #d5d5d5;
    z-index: 3;
}
.lookupField-table {
    table-layout: fixed;
    min-height: 140px;
    max-height: 260px;
}
.lookupField-search {
    padding: 6px;
    width: 96%;
    border: none;
}
.lookupField-clear {
    display:inline-block;
    padding: 6px;
    width:auto;
    text-align: center;
    cursor: pointer;
    color: #4C4CFF;
}
.lookupField-checkBox {
    display: inline-block;
    width:26px;
    border:none;
}
.lookupField-checked,.lookupField-unchecked {
    width: 22px;
    height: 22px;
    border:none;
    vertical-align:middle;
    overflow: hidden;
}
.lookupField-odd,.lookupField-even,.lookupField-selected,.lookupField-active {
    display:block;
    overflow: hidden;
    border-bottom: solid 1px #efdecd;
    cursor:pointer;
}
.lookupField-odd {
    background-color:#e6ffff;
}
.lookupField-even {
    background-color:#fbfff0;
}
.lookupField-active {
    background-color:#ffff99;
}
.lookupField-selected {
    background-color:#faebd7;
}
.lookupField-cell {
    display: inline-block;
    background-color:transparent;
    vertical-align: middle;
    padding: 8px 4px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lookupField-odd:hover,.lookupField-even:hover {
    background-color:#fffdd0;
}
.lookupField-nav:hover, .lookupField-clear:hover {
    text-decoration:underline;
}

